.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
  color: $menuText !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

.el-dropdown-menu {
  padding: 0 !important;
}

.el-range-separator {
  box-sizing: content-box;
}

.is-dark {
  z-index: 9999 !important;
}

/* 重置 el-button 中 icon 的 margin */
.reset-margin [class*="el-icon"] + span {
  margin-left: 2px !important;
}

/* 自定义 popover 的类名 */
.pure-popper {
  padding: 0 !important;
}

/* 自定义 tooltip 的类名 */
.pure-tooltip {
  // 右侧操作面板right-panel类名的z-index为40000，tooltip需要大于它才能显示
  z-index: 41000 !important;
}

/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow: 0 0 10px var(--el-color-primary),
      0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

/* 全局覆盖element-plus的el-dialog、el-drawer、el-message-box、el-notification组件右上角关闭图标的样式，表现更鲜明 */
// .el-dialog__headerbtn,
// .el-message-box__headerbtn {
//   &:hover {
//     .el-dialog__close {
//       color: var(--el-color-info) !important;
//     }
//   }
// }
// .el-icon {
//   &.el-dialog__close,
//   &.el-drawer__close,
//   &.el-message-box__close,
//   &.el-notification__closeBtn {
//     width: 24px;
//     height: 24px;
//     outline: none;
//     border-radius: 4px;
//     transition: background-color 0.2s, color 0.2s;
//     &:hover {
//       color: rgba(0, 0, 0, 0.88) !important;
//       background-color: rgba(0, 0, 0, 0.06);
//       text-decoration: none;
//     }
//   }
// }

/* 克隆并自定义 ElMessage 样式，不会影响 ElMessage 原本样式，在 src/utils/message.ts 中调用自定义样式 ElMessage 方法即可，暗黑模式在 src/style/dark.scss 文件进行了适配 */
.tw-message {
  border-width: 0 !important;
  background: $subMenuActiveBg !important;
  padding: 10px 13px !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d !important;

  &.el-message.is-closable .el-message__content {
    padding-right: 17px !important;
  }

  & .el-message__content {
    color: $themeTextColor !important;
    pointer-events: all !important;
    background-image: initial !important;
  }

  & .el-message__icon {
    margin-right: 8px !important;
  }

  & .el-message__closeBtn {
    outline: none;
    border-radius: 4px;
    right: 9px !important;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
}
.el-input__wrapper {
  background-color: $menuBg;
  border: 1px solid var(--el-color-primary);
  box-shadow: none !important;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid var(--el-color-primary-light-2);
  }
}

.el-input__wrapper.is-focus {
  border: 1px solid var(--el-color-primary-light-5);
}

.el-input__inner {
  background-color: $menuBg;
  color: $themeTextColor;
}

.el-input__wrapper:hover {
  box-shadow: none;
}

.el-dialog {
  background: $subMenuActiveBg;
  border: 1px solid #4db8ff;

  .el-dialog__header {
    background: $menuBg;
    margin-right: 0;

    .el-dialog__title {
      color: $themeTextColor;
    }
  }

  .el-dialog__body {
    color: $themeTextColor;
  }
}

.el-notification {
  background-color: $subMenuActiveBg;
  border: none !important;

  &.twNotifiSuccess {
    &:before {
      background-color: var(--el-color-success);
    }

    .el-notification__title {
      color: var(--el-color-success);
    }
  }

  &.twNotifiInfo {
    &:before {
      background-color: var(--el-color-info);
    }

    .el-notification__title {
      color: var(--el-color-info);
    }
  }

  &.twNotifiWaring {
    &:before {
      background-color: var(--el-color-warning);
    }

    .el-notification__title {
      color: var(--el-color-warning);
    }
  }

  &.twNotifiError {
    &:before {
      background-color: var(--el-color-error);
    }

    .el-notification__title {
      color: var(--el-color-error);
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .el-notification__content {
    color: $themeTextColor;
  }
}

.el-table {
  background-color: $menuBg;
  color: $themeTextColor;

  th.el-table__cell {
    background-color: #0c1c2c !important;

    &.is-leaf {
      border-bottom: none !important;
    }
  }

  tr {
    background-color: $menuBg !important;

    &:hover {
      border: 1px solid #fffc;
    }

    &:hover>td.el-table__cell {
      background-color: $menuBg !important;
    }

    // &:hover.el-table__row--striped {
    //   border: 1px solid red;
    // }
    &.el-table__row--striped td.el-table__cell {
      background-color: $subMenuActiveBg !important;
    }
  }

  td.el-table__cell {
    border-bottom: none !important;
  }

  .el-scrollbar__view {
    padding: 0 !important;
  }

  .el-table__inner-wrapper {
    &::before {
      background-color: transparent !important;
    }
  }
}
